*{
    font-size: 30px;
}



#exemplo{
    width:200px;
    height:200px;
    margin:20px;
    border: 1px solid #000;
    position: relative;
}

span{
    position: absolute;
    left: 50px;
    padding-top: 70px;
}

.verde{
    background-color:#00FF00;
    color:#FF0000;

}

.vermelho{
    background-color: #FF0000;
    color:#00FF00;
}
/*Tire o comentário...*/
/*
.azul{
    background-color: #0000FF;
    color:#FF0000;
}
*/